.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
    button{
        text-align: center;
        margin-left: 80px;
        margin-top: 20px;
        height: 50px;
        width: 100px;
        border-radius: 10px;
        border: none;
        background-color:#1976d2;
        color: #fff;
    }
}
h1{
    text-align: center;
}

.hint{
    opacity: 0.3;
    position: absolute;
    right: 10px;
    top: 50px;
}